NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://postgres:1234@localhost:5050/project_auth?schema=public"
BETTER_AUTH_SECRET="7a9f2d4c8b1e5a3f6c9d2b7e4c1f8a3d5e9c2b7f4a1e8d5c3b2f7e4a9c1d5f8" # <-- Esto es un ejemplo
BETTER_AUTH_URL="http://localhost:3000"
CORS_ORIGIN="http://localhost:3000"